<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Regression Suite">
<test name="TC002_VerifyLoginWithValidData">

<classes>
<class name="com.Pages.AnyAut_orange.homepage.TC002_VerifyLoginWithValidData">

</class>
</classes>
</test>

</suite>